/* MOBILE FIRST */
*{box-sizing: border-box;
    width: fit-content; 
    height: fit-content;
    font-family: 'Julius Sans One';
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0;
    background-image: url(../img/fondo.jpg);
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-right: rgb(2555,215,0) solid 3px;
    border-left: rgb(2555,215,0) solid 3px;
}

.main-header{
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    height: 112px;
}

.headerimage{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

.imagen-logo{
    position: absolute;
    width: 17%;
    height: 7%;
    z-index: 3;
    top: 3px;
    left: 28px;
    border-radius: 50%;
}

.lista-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    z-index: 2;
    right: 8px;
    top: 76px;
    justify-content: center;
    margin: 6px;
    width: 274px;
}

ul li{
    list-style: none;
}

.lista-header li a{
    text-transform: uppercase;
    width: 20%;
    padding: 9px;
    text-decoration:none;
    color: white;
    font-size: 90%;
    font-weight: bolder;
}

.frase p{
    z-index: 2;
    position: relative;
    top: -19vh;
    left: 59vw;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 243%;
    color: white}

div.banner{
    display: none;
}

.buscador{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.imagen-buscador{
    width: 25vh;
    height: 3vh;
}

.main-footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: grey;
    margin-top: 9%;
}

.lista-footer{
    display: flex;
    flex-wrap: wrap;
    width: 37vw;
    font-size: 10px;
    position: relative;
    left: -8vw;
    font-weight: bold;
}

.iconofooter{
    width: 8vw;
    height: 4vh;
    position: relative;
    top: 2vh;
    margin-right: 2vw;
    left: -6vw;
}

.logo-deezer{
    width: 15vw;
    height: 6vh;
    position: relative;
    right: 0vw;
    top: 1vh;
}

.barra-opciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    border-block-end: white 1px solid;
    border-block-start: white 1px solid;
}

.barra-opciones ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

ul li.barra {
    display: flex;
    flex-wrap: wrap;
    border-right: 2px solid white;
    padding-right: 5%;
}

ul li a.opcion {
    text-decoration: none;
    color:white;
    text-transform: uppercase;
}

.titulos{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: 0 12px;
    justify-content: center;
    color: white;
}

.titulos h2{
    margin-bottom: 4vh;
    text-transform: uppercase;
    font-size: 36px; 
}

.body{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    align-items: center;
    padding: 0 1vh 2vh 1vh;
    background-color: #bab6b6f2;
    padding-top: 2vh;
    margin: 0 12px;
    border-bottom: dashed black 1px;
}

.primeracolumn{
    display: flex;
    flex-wrap: wrap;
    width: 34%;
    height:100%;
}


.artista h2{
    font-size: 30px;
    text-align: center;
}
    

.fotos .secciones{
    border-radius: 50%;
    height: 9vh;
    width: 23vw;
    border: 1px solid black;
}

p.dos{
    width: 77%;
    background-color: rgb(220, 187, 12);
}

.nombres .dos{
    padding: 0.7vh;
    text-align: center;
    text-transform: uppercase;
    font-size: 78%;
    margin-left: 9px;
    font-weight: bold;
}

.segundacolumn{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:65%;
    border-left: solid 2px black;
    padding-left: 11px;
}

.containertracks{
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 88vh;
    overflow-y: scroll;
}


.lascanciones{
    display:flex;
    flex-direction: column;
    height: 20vh;
    overflow-y: scroll;
}

.artista h2.taylor{
    font-size:130%;
}

.top .imagentop .cancion{
    border-radius: 50%;
    height: 5vh;
    width: 13vw;
    border: 1px solid black;
}

.top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px;
    border-bottom: dashed 1px black;
    width: 102%;
    padding: 10px 0;
}

.artista{
    display: flex;
    flex-wrap: wrap;
    height:100%;
}

.primeracolumn .artista .h2{
    height:100%;
}

.top5{
    display:flex;
    justify-content: center;
    width: 100%;
}

.foto-genero img{
    border-radius: 50%;
    height: 9vh;
    width: 23vw;
    border: 1px solid black;
}

.imagen-artistag img{
    border-radius: 50%;
    height: 5vh;
    width: 13vw;
    border: 1px solid black;
}

.datostop audio{
    width: 139px;
    height: 28px;
}

.nombrecancion{
    margin: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    padding-left: 5px;
}

.datostop{
    margin-left: 16px;
}

.datostop a{
    text-decoration: none;
}

.sinborde{
    border-bottom: 0;
}

.noborder{
    border-bottom:0;
}

.top5 h2{
    text-decoration: underline;
}

.nobordetop{
    border-top:0;
}

.letrachica{
    font-size:11px;
}

.letramediana{
    font-size:14px;
}

.artista .distintomargin{
    margin-left:2vh;
}

.artista .otromargin{
    margin-left:0vh;
}

.cancion{
    display:flex;
    flex-wrap: wrap;
}

.cancion h2{
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(-180deg);
    margin-left: 0vh;
    height: 180px;
    text-align: center;
}

.lasfotos{
    display: flex;
    width:39%;
    align-items:center;
}

.losdetalles{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 42%;
    font-size: 19px;
    position: relative;
    right: -54px;
    border-left: dashed 2px black;
    padding: 30px 33px;
}

.unpocochico{
    font-size: 104%;
}

.unpocomaschico{
    font-size: 102%;
}

.letramedium{
    font-size: 128%;
}

.letramediummas{
    font-size: 147%;
}

.margin{
    margin-top:36% 0;
}

.fotos{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    margin-top: 10px;
    margin-left:10px;
}

.fotos a{
    text-decoration:none;
    color:black;
    text-align: center;
    padding-top: 15px;
}

div.dato{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.losdetalles a{
    text-decoration: none;
    color: black;
    background-color: rgb(220, 187, 12);
    width: 82px;
    display: flex;
    padding: 0px 46px;
    justify-content: center;
}

.fecha p{
    text-align: center;
}

.generos{
    display: flex;
    flex-wrap: wrap;
    width: 34%;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.fotos img.fotogenero{
    margin-left: 0;
}

.datostop p.daddy{
    font-size:88%;
}

.datostop a{
    color:black;
}

.nomargin{
    margin:0;
}

.artista .regg{
    font-size:92%;
}

.body .unog{
    width:34.5%
}

.taylor{
    font-size:142%;
}

body .bodygenero{
    width:94%;
}



/*desktop*/
@media only screen and (min-device-width: 1200px){

    .imagen-buscador {
        width: 26%;
        height: 10%;
    }

    .lista-header{
        position: absolute;
        top: 77px;
        font-size: 19px;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
        right: 31px;
        width: 44%;
    }

    .lista-header li a{
        padding:0;
    }

    .primeracolumn{
         width: 17%;
         justify-content: center;  
         flex-direction: row;

    }
    .fotos .secciones{
        width: 23vh;
       
    }
    .segundacolumn{
        width: 83%;
        flex-direction: column;
        flex-wrap: wrap;
        border-left: solid 2px black;
    }
    .top .imagentop .cancion{
       width: 4vw;
       height:8vh;
    }
    .frase p{
        z-index: 2;
        width: 34vw;
        height: 4vh;
        position: relative;
        top: -12vw;
        left: 85vw;
        font-family: 'Cedarville Cursive', cursive;
    }

    div.body{
        width: 90%;
        justify-items: center;
        align-items: center;
    }
    .top {
        border-bottom: 0;
        width: 33%;
        border-right: 1px dashed black;
        justify-content: center;
    }
    .lascanciones {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }

    div.dato{
        width: 41%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .fotos{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
    }

    .fotos a{
        margin-top: 16px;
    }

    p.album {
        width: 102%;
    }  /* borrar este */

    .fotos .secciones{
        width: 40%;
    }

    .losdetalles{
        flex-direction: row;
        justify-content: center;
        width: 63%;
    }

    .losdetalles a{
        margin-left: 68px;
        width:147px;
        padding:0;
    }

    p .track{
        margin: 0 16px;
    }
    p .album{
        margin: 0 16px;
    }

    p.dos{
        width:87%;
    }

    .fotos img.ftrack{
        width: 63%;
    }

    .cancion{
        height:100%;
    }

    .cancion h2{
        font-size:27px;
    }

    .losdetalles{
        font-size:27px;
    }

    .lasfotos{
        width:34%;
    }

    .cancion .letramedium{
        font-size:23px;
    }

    .cancion .unpocochico{
        font-size:20px;
    }

    .cancion .unpocomaschico{
        font-size: 20px;
    }

    .body .generos{
        width:17%;
    }

    .top .imagentop img.cancion {
        width: 6vw;
        height: 10vh;
    }

    .artista h2.regg{
        font-size:140%;
    }

    .frase p{
    z-index: 2;
    position: relative;
    top: -12vw;
    left: 85vw;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 326%;
    color: white;
    width: fit-content;
    }

    .datostop p.nombreg{
        padding-top:27px;
    }

    .lista-footer{
        font-size: 114%;
        display: flex;
        flex-wrap: wrap;
        width: 17%;
        left: -2vh;
        justify-content: center;
    }
    
    ul li{
        padding-right: 1vw;
        font-size:65%;
    }
    
    .main-footer{
        height: 11vh;
        margin-top: 7vh;
    }
    
    .logo-deezer{
        width: 6vw;
        height: 9vh;
        position: relative;
        right: -49vw;
    }
    
    .iconofooter{
        width: 4vw;
        height: 5vh;
        position: relative;
        top: 3vh;
        margin-right: 4vw;
        left: 21vw;
    }

    body .bodytrack{
        width:95%;
    }

    ul li a.opcion{
        font-size: 160%;
    }

    .fotos a{
        padding-top:0;
    }

    .losdetalles a p{
        text-align:center;
    }

    
    div.banner{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    
    .banner{
        width:90%;
        margin:auto;
        overflow:hidden;
    }
    
    .banner ul{
        display:flex;
        padding:0;
        width:800%;
       
        
        animation: cambio 7s infinite;
        
    }
    
    .banner li{
        width:400%;
        list-style:none;
    }
    
    .banner img{
            width: 113%;
            height: 12vw;
    }
    
    @keyframes cambio {
        0% {margin-left: 0;}
        20% {margin-left:0;}
    
        25% {margin-left: 0%;}
        45% {margin-left:0%;}
    
        50% {margin-left: -100%;}
        70% {margin-left:-100%;}
    
        75%{margin-left: -100%;}
        100% {margin-left:-100%;}
    }
