/* MOBILE FIRST */
*{box-sizing: border-box;
    width: fit-content; 
    height: fit-content;
    /* font-family: 'Julius Sans One'; */
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0;
    background-image: url(../img/fondo.jpg);
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-right: rgb(2555,215,0) solid 3px;
    border-left: rgb(2555,215,0) solid 3px;
    width: 100%;
    padding: 0px;
}

p{
    font-family: 'Julius Sans One';
}

.barra-opciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    border-block-end: white 1px solid;
    border-block-start: white 1px solid;
}

.barra-opciones ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}


ul li.barra {
    display: flex;
    flex-wrap: wrap;
    border-right: 2px solid white;
    padding-right: 5%;
}

ul li a.opcion {
    text-decoration: none;
    color:white;
    text-transform: uppercase;
}

.titulos{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    padding: 0;
    margin: 0 12px;
    justify-content: center;
    color: white;
    font-family: 'Julius Sans One';
}

.titulos h2{
    margin-bottom: 4vh !important;
    text-transform: uppercase;
    font-size: 36px; 
    font-family: 'Julius Sans One';
}

.body{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    align-items: center;
    padding: 0 1vh 2vh 1vh;
    background-color: #9e9c9cf2;
    padding-top: 2vh;
    margin: 0 12px;
}

.primeracolumn{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    width: 34%;
    height:100%;
}


.artista h2{
    font-size: 30px;
    text-align: center;
    font-family: 'Julius Sans One';
}
    
.fotos .secciones{
    border-radius: 50%;
    height: 12vh;
    margin-bottom: 16%;
    width: 32vw;

}


p.dos{
    width: 77%;
    background-color: rgb(220, 187, 12);
}

.nombres .dos{
    padding: 0.7vh;
    text-align: center;
    text-transform: uppercase;
    font-size: 78%;
    margin-left: 9px;
    font-weight: bold;
    font-family: 'Julius Sans One';
}

.segundacolumn{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:65%;
    padding-left: 11px;
    border-top: solid 2px black;
}

.containertracks{
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 88vh;
    overflow-y: scroll;
}

.fans{
    padding-top: 11%;
}

.lascanciones{
    display:flex;
    flex-direction: column;
    width: 94%;
    align-items: center;
}

.artista h2.taylor{
    font-size:130%;
}

.top .imagentop .cancion{
    border-radius: 50%;
    height: 5vh;
    width: 13vw;
}

.top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: dashed 1px black;
    width: 102%;
    padding: 10px 0;
}

.artista{
    display: flex;
    flex-wrap: wrap;
    height:100%;
}

.primeracolumn .artista .h2{
    height:100%;
}

.top5{
    display:flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.foto-genero img{
    border-radius: 50%;
    height: 9vh;
    width: 23vw;
}

.imagen-artistag img{
    border-radius: 50%;
    height: 5vh;
    width: 13vw;
}

.datostop audio{
    width: 139px;
    height: 28px;
}

.nombrecancion{
    margin: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    padding-left: 5px;
    font-family: 'Julius Sans One';
}

.datostop{
    margin-left: 16px;
}

.datostop a{
    text-decoration: none;
}

.sinborde{
    border-bottom: 0;
}

.noborder{
    border-bottom:0;
}

.top5 h2{
    text-decoration: underline;
}

.nobordetop{
    border-top:0;
}

.letrachica{
    font-size:11px;
}

.letramediana{
    font-size:14px;
}

.artista .distintomargin{
    margin-left:2vh;
}

.artista .otromargin{
    margin-left:0vh;
}

.cancion{
    display:flex;
    flex-wrap: wrap;
    width: 78vw;
    justify-content: center;
}

.lasfotos{
    width: 22% !important;
}

.cancion h2{
    text-align: center;
    padding-bottom: 14%;
}

.lasfotos{
    display: block;
    width:39%;
    align-items:center;
}

.losdetalles{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 42%;
    font-size: 19px;
    position: relative;
    right: -54px;
    border-left: dashed 2px black;
    padding: 30px 14px;
}

.unpocochico{
    font-size: 104%;
}

.unpocomaschico{
    font-size: 102%;
}

.letramedium{
    font-size: 128%;
}

.letramediummas{
    font-size: 147%;
}

.margin{
    margin-top:36% 0;
}

.fotos{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    margin-top: 10px;
    margin-left:10px;
    align-items: center;
}

.fotos a{
    text-decoration:none;
    color:black;
    text-align: center;
    padding-top: 15px;
    font-family: 'Julius Sans One';
}

div.dato{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 21%;
}

.losdetalles a{
    text-decoration: none;
    color: black;
    background-color: rgb(220, 187, 12);
    width: 82px;
    display: flex;
    padding: 0px 46px;
    justify-content: center;
}

.fecha p{
    text-align: center;
    width: 8%;
}

.generos{
    display: flex;
    flex-wrap: wrap;
    width: 34%;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.fotos img.fotogenero{
    margin-left: 0;
}

.datostop p.daddy{
    font-size:88%;
}

.datostop a{
    color:black;
}

.nomargin{
    margin:0;
}

.artista .regg{
    font-size:92%;
}

.body .unog{
    width:34.5%
}


body .bodygenero{
    width:94%;
}

.uk-child-width-1-2\@m>* {
    width: 95%;
}

.uk-grid-item-match>:not([class*=uk-width]), .uk-grid-match>*>:not([class*=uk-width]) {
    box-sizing: border-box;
    width: 58%;
    flex: auto;
}


.uk-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
    margin: 0;
    padding: 0;
    list-style: none;
}

.fecha{
    font-size: 115%;
}

p.track{
    margin-top: 1vw;
    color: black;
}

a{
    font-family: 'Julius Sans One';
}


/*desktop*/
@media only screen and (min-device-width: 1200px){

.container{
    border-right: solid 8px  rgb(220, 187, 12);
    border-left: solid 8px  rgb(220, 187, 12);
}

.primeracolumn{
    width: 67%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
    
.fotos .secciones{
    height: 9vh;
    width: 23vw;
}
    
.segundacolumn{
    width: 33%;
    flex-direction: column;
    flex-wrap: wrap;
    border-left: solid 2px black;
    border-top: 0;
    padding-left:20px;
    background-color: #3233332b;
}

.seg{
    width: 55%;
}
    
.gentop{
    width:50% !important; 
}

.top .imagentop .cancion{
    width: 4vw;
    height:8vh;
}

.secciones{
    width: 50%;
    height: 40%;
}

div.body{
    width: 100%;
    justify-items: center;
    align-items: center;
    border-radius:2%;
}

.top5{
    flex-direction:column;
}
    
.contenedor-todo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.top {
    border-bottom: 0;
    width: 54%;
    
    border-bottom: 1px dashed black;
    width:100%;
    text-align:center;
}

.nombres p{
    font-size: 30px;
    padding-top: 20px
}

.uk-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center !important;
    margin: 0;
    align-items: center;
    padding: 0;
    list-style: none;
}


iframe{
    width: 100%;
    height: 9.5vh;
}

*+.uk-grid-margin, .uk-grid+.uk-grid, .uk-grid>.uk-grid-margin {
    margin-top: 40px;
    padding: 0;
}
    
.lascanciones {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

div.dato{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 0;
}

.fotos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.fotos a{
    margin-top: 16px;
}

p.album {
    width: 102%;
}  

.fotos .secciones{
    width: 60% !important;
    height: 50% !important;
    margin:0;
}

.losdetalles{
    flex-direction: row;
    justify-content: center;
    padding: 41px 15px;
    width: 53% !important;
}


.fecha{
    font-size: 93%;
}



.losdetalles a{
    margin-left: 68px;
    width: 174px;
    padding:0;
}

p .track{
    margin: 0 16px;
}


.uk-grid-match>*>:not([class*=uk-width]) {
    box-sizing: border-box;
    width: 42%; 
    flex: auto;
}
    
p .album{
    margin: 0 16px;
}

p.dos{
    width:87%;
}

.albumdetalle{
    width: 13% !important;
}

.datoalbum{
    width: 47% !important;
}

.fotos img.ftrack{
    width: 63%;
}

.cancion{
    height:100%;
    width:8%;
    display:block;
}

.cancion h2{
    font-size:27px;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(-180deg);
    margin-left: 0vh;
    height: 180px;
    color: black;
    padding:0;
}

.losdetalles{
    font-size:19px;
    width: 19% !important;
}

.lasfotos{
    width:52%;
    display:flex;
    
}

iframe{
    height:13.5vh;
}

.cancion .letramedium{
    font-size:23px;
}

.cancion .unpocochico{
    font-size:20px;
}

.cancion .unpocomaschico{
    font-size: 20px;
}

.body .generos{
    width:45%;
}

.top .imagentop img.cancion {
    width: 6vw;
    height: 10vh;
    margin-bottom:3%;
}

.artista h2{
    font-size:67px;
}

.datostop p.nombreg{
    padding-top:27px;
}

body .bodytrack{
    width:95%;
}

ul li a.opcion{
    font-size: 160%;
}

.fotos a{
    padding-top:0;
}

.losdetalles a p{
    text-align:center;
}

.fecha p{
    width: 110%;
}

.search-box {
    -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: #ebebeb;
  }
  .search-box + label .search-icon {
    color: black;
  }
  .search-box:hover {
    color: white;
    background: #c8c8c8;
    box-shadow: 0 0 0 5px #3d4752;
  }
  .search-box:hover + label .search-icon {
    color: white;
  }
  .search-box:focus {
    -webkit-transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
    transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 300px;
    border-radius: auto;
    background: #ebebeb;
    color: black;
  }
  .search-box:focus + label .search-icon {
    color: black;
  }
  .search-box:not(:focus) {
    text-indent: -5000px;
  }
  
  #search-submit {
    position: relative;
    left: -5000px;
  }
  
  .search-icon {
    position: relative;
    left: -30px;
    color: white;
    cursor: pointer;
  }
    
}
