/* MOBILE FIRST */

.main-header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 82px;
    background-color: black;
    z-index: 3;
    position: fixed;
    border-right: solid 3px  rgb(220, 187, 12);
    border-left: solid 3px  rgb(220, 187, 12);
}

/* .headerimage{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
} */

div.logo{
    height: 14vw;
    width: 16vw;
    margin-top: 2vw;
    margin-left: 3vw;
}

.imagen-logo{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

div.frase{
    margin-left: 41vw;
}

.lista-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 6px;
    width: 274px;
}

ul li{
    list-style: none;
}

.lista-header li a{
    text-transform: uppercase;
    width: 20%;
    padding: 5px;
    text-decoration: none;
    color: white;
    font-size: 73%;
    font-weight: bolder;
    font-family: 'Julius Sans One';
}

div.uk-position-relative{
    margin-top: 36vw;
}

.frase p {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 243%;
    color: white;
    margin-top: 0px;
}


div.banner{
    display: none;
}

div.buscador{
    width: 14vw;
    height: 11vw;
    position: absolute;
    top: 23vw;
    right: 57vw;
}

label{
    position: absolute;
    top: 1vw;
    left: 10vw;
}

#search-box{
    width: 46vw;
    height: 7vw;
}

div.links{
    position: absolute;
    top: 11vw;
    right: -8vw;
}

.main-footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: grey;
    margin-top: 10%;
}

.lista-footer{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    font-size: 12px;
    position: relative;
    left: -25px;
    font-weight: bold;
}

div.iconos-redes{
    position: relative;
    top: 4vw;
    left: -7vw;
}

.iconofooter{
    width: 8vw;
    height: 34%;
    margin-right: 5px;
}

.logo-deezer{
    width: 15%;
    height: 15%;
    position: relative;
    right: -5%;
    top: 4px;
}

/* buscador */
.search-box {
    -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: #ebebeb;
  }
  .search-box + label .search-icon {
    color: black;
  }
  .search-box:hover {
    color: white;
    background: #c8c8c8;
    box-shadow: 0 0 0 5px #3d4752;
  }
  .search-box:hover + label .search-icon {
    color: white;
  }
  .search-box:focus {
    -webkit-transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
    transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 300px;
    border-radius: auto;
    background: #ebebeb;
    color: black;
  }
  .search-box:focus + label .search-icon {
    color: black;
  }
  .search-box:not(:focus) {
    text-indent: -5000px;
  }
  
  #search-submit {
    position: relative;
    left: -5000px;
  }
  
  .search-icon {
    position: relative;
    left: -30px;
    color: white;
    cursor: pointer;
  }


/* DESKTOP */
@media only screen and (min-device-width: 1200px) {

.main-header{
    height: 110px;
    border-right: solid 8px  rgb(220, 187, 12);
    border-left: solid 8px  rgb(220, 187, 12);
}

.banner-fotos{
    margin-top: 8vw;
}

div.logo{
    width: 6%;
    height: 74%;
    margin-right: 2vw;
    margin-top: 1vw;
    margin-left: 1vw;
}

div.frase{
    margin-top: 1.5vw;
    margin-right: 25vw;
    margin-left: 0px;
}

div.buscador{
    margin-top: 3vw;
    margin-right: 15vw;
    margin-left: 10vw;
    width: 4vw;
    height: 3vw;
    position: initial;
}

#search-box{
    width: 19.7vw;
    height: 2.7vw;
}

label{
    position: absolute;
    top: 3.7vw;
    left: 58vw;
}

div.uk-position-relative{
    margin-top: 9vw;
}

.lista-header{
    font-size: 19px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: 118%;
}

.lista-header li a{
    font-size: 90%;
}

div.links{
    margin-top: 3vw;
    width: 21vw;
    position: initial;
}

p.pp{
    padding-top: 0;
    color: white;
    font-size: 312%;
    font-family: 'Cedarville Cursive', cursive;
    width: 75%;
    height: 67px;
    /* border-bottom: 2px rgb(220, 187, 12) solid; */
}

div.banner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.banner{
    width:90%;
    margin:auto;
    overflow:hidden;
}

.banner ul{
    display:flex;
    padding:0;
    width:800%;
    animation: cambio 7s infinite;
}

.banner li{
    width:400%;
    list-style:none;
}

.banner img{
    width: 113%;
    height: 12vw;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left:0;}

    25% {margin-left: 0%;}
    45% {margin-left:0%;}

    50% {margin-left: -100%;}
    70% {margin-left:-100%;}

    75%{margin-left: -100%;}
    100% {margin-left:-100%;}
}

.lista-footer{
    font-size: 97%;
    display: flex;
    flex-wrap: wrap;
    width: 17%;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    margin-top: 1vw;
}

ul li{
    padding-right: 1vw;
}

.main-footer{
    height: 12vh;
    margin-top: 7vh;
}

.logo-deezer{
    width: 6vw;
    height: 10vh;
    position: relative;
    right: -40vw;
    top: 0.4vw;
}

.iconofooter{
    width: 4vw;
    height: 7vh;
    margin-right: 7vw;
}

div.iconos-redes{
    position: relative;
    top: 1vw;
    left: 20vw;
}

}