/* MOBILE FIRST */

.main-header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 97px;
}

.headerimage{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

.imagen-logo{
    width: 100%;
    height: 60%;
    border-radius: 50%;
}

.lista-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 6px;
    width: 274px;
}

ul li{
    list-style: none;
}

.lista-header li a{
    text-transform: uppercase;
    width: 20%;
    padding: 5px;
    text-decoration: none;
    color: white;
    font-size: 73%;
    font-weight: bolder;
    font-family: 'Julius Sans One';
}

/* .frase img{ 
    z-index: 2;
    width: 74vw;
    height: 4vh;
    position: relative;
    top: -33px;
    left: 71px;
}  */

.frase p {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 243%;
    color: white;
    margin-top: 0px;
}


div.banner{
    display: none;
}

/* .buscador{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
} */

/* .imagen-buscador{
    width: 48%;
    height: 8%;
} */

.main-footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: grey;
    margin-top: 10%;
}

.lista-footer{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    font-size: 12px;
    position: relative;
    left: -34px;
    font-weight: bold;
}

.iconofooter{
    width: 8vw;
    height: 20%;
    position: relative;
    top: 19px;
    margin-right: 5px;
    left: -16%;
}

.logo-deezer{
    width: 15%;
    height: 15%;
    position: relative;
    right: -5%;
    top: 7px;
}


/* DESKTOP */
@media only screen and (min-device-width: 1200px) {

.main-header{
    height: 110px;
    background-color: black;
    position: fixed;
    z-index: 3;
}

.banner-fotos{
    margin-top: 8vw;
}

div.logo{
    width: 6%;
    margin-right: 2vw;
    margin-top: 0.5vw;
}

.frase{
    margin-top: 1.5vw;
    margin-right: 25vw;
}

div.buscador{
    margin-top: 3vw;
    margin-left: 23vw;
    width: 4vw;
}

/* .frase img{
    z-index: 2;
    width: 71%;
    position: relative;
    left: 50%;
} */

/* .imagen-buscador {
    width: 26%;
    height: 10%;
} */

.lista-header{
    font-size: 19px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: 118%;
}

.lista-header li a{
    font-size: 90%;
}

div.links{
    margin-top: 3vw;
    width: 21vw;
}

p.pp{
    padding-top: 0;
    color: white;
    font-size: 312%;
    font-family: 'Cedarville Cursive', cursive;
    width: 75%;
    height: 67px;
    /* border-bottom: 2px rgb(220, 187, 12) solid; */
}

div.banner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.banner{
    width:90%;
    margin:auto;
    overflow:hidden;
}

.banner ul{
    display:flex;
    padding:0;
    width:800%;
    animation: cambio 7s infinite;
}

.banner li{
    width:400%;
    list-style:none;
}

.banner img{
    width: 113%;
    height: 12vw;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left:0;}

    25% {margin-left: 0%;}
    45% {margin-left:0%;}

    50% {margin-left: -100%;}
    70% {margin-left:-100%;}

    75%{margin-left: -100%;}
    100% {margin-left:-100%;}
}

.lista-footer{
    font-size: 114%;
    display: flex;
    flex-wrap: wrap;
    width: 17%;
    justify-content: center;
}

ul li{
    padding-right: 1vw;
}

.main-footer{
    height: 11vh;
    margin-top: 7vh;
}

.logo-deezer{
    width: 6vw;
    height: 9vh;
    position: relative;
    right: -49vw;
}

.iconofooter{
    width: 4vw;
    height: 5vh;
    position: relative;
    top: 3vh;
    margin-right: 4vw;
    left: 21vw;
}

}