/* MOBILE FIRST */
*{box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    font-family: 'Julius Sans One'}

body{
    display: flex;
    justify-content: center;
    margin:0;
    background-color: rgba(179, 170, 170, 0.582);

}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-right: rgb(2555,215,0) solid 3px;
    border-left: rgb(2555,215,0) solid 3px;
}



.main-header{
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    height: 112px;
}

.headerimage{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

.imagen-logo{
    position: absolute;
    width: 17%;
    height: 7%;
    z-index: 3;
    top: 3px;
    left: 28px;
    border-radius: 50%;
}

.lista-header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    z-index: 2;
    right: 31px;
    top: -2px;
    width: 30%;
    justify-content: center;
    margin: 3px;
}

ul li{
    list-style: none;
}

.lista-header li a{
    text-transform: uppercase;
    width: 20%;
    padding: 2px;
    text-decoration:none;
    color: black;
    font-size: 90%;
    font-weight: bolder;
}

.frase{
    z-index: 3;
    color: white;
    top: 84px;
    position: absolute;
    left: 149px;
    font-size: 76%;
}

.frase p{
    font-family: 'Prociono';

}

.buscador{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.imagen-buscador{
    width: 25vh;
    height: 3vh;
}



.main-footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: grey;
}

.lista-footer{
    display: flex;
    flex-wrap: wrap;
    width: 42vw;
    font-size: 12px;
    position: relative;
    left: -8vw;
    font-weight: bold;
}

.iconos-redes{
    top: 3vh;
    width: 20vw;
    justify-content: space-between;
    display: flex;
    position: relative;
}

.logo-deezer{
    width: 15vw;
    height: 6vh;
    position: relative;
    right: -16vw;
    top: 1vh;
}

.titulos{
    display:flex;}

h1{
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(-180deg);
    margin-bottom: 5vh;
    margin-left: -2vh;
}


div.body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: black 2px solid;
    padding-block-start: 26px;
}

.primerbody{
    border-top: black solid 2px;
}

.cuartobody{
    border-bottom: 0px;
}

img.secciones{
    border-radius: 50%;
    height: 9vh;
    width: 23vw;
    border: 1px solid black;
}

p{
    margin: 0px; 
    padding: 0px; 
}
p.uno{
    position: relative;
    left: -1vw;
    top: 1vh;
    width: 50%;
    text-align: center;
}
p.dos{
    position: relative;
    left: 24vw;
    top: -6vh;
    width: 50%;
    text-align: center;
}

p.tres{
    position: relative;
    left: 53vw;
    top: -10vh;
}

p.cuatro{
    position: relative;
    left: 2vh;
    top:1vh;
}

p.cinco{
    position: relative;
    left: 28vw;
    top: -1vh;
    width: 50%;
    text-align: center;
}

p.seis{
    width:50%;
    text-align: center;
    top: -6vh;
    left:25vh;
    position: relative;
}

p.siete{
    width: 50%;
    padding-left: 1vh;
    padding-top: 0.5vh;
}

p.ocho{
    width: 50%;
    padding-left: 12.5vh;
    position: relative;
    top: -4vh;
}

p.nueve{
    width: 50%;
    position: relative;
    top: -6.5vh;
    left: 23vh;
}

p.diez{
    width: 50%;
    position: relative;
    top: 1vh;
    left: 2vh;
}

p.once{
    width: 50%;
    position: relative;
    top: -1.5vh;
    left: 11.5vh;
    text-align: center;
}

p.doce{
    width:50%;
    position: relative;
    top: -6vh;
    left: 23.5vh;
}

