/* MOBILE FIRST */
*{box-sizing: border-box;
    
    /* font-family: 'Julius Sans One'; */
}

body{
    display: flex;
    justify-content: center;
    margin:0;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    width: 100%;
    height: fit-content;
}

.bienvenida{
    display: none;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-right: rgb(2555,215,0) solid 3px;
    border-left: rgb(2555,215,0) solid 3px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}


p{
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.titulos{
    display:flex;}

h1{
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(-180deg);
    margin-left: 0;
    font-family: 'Julius Sans One';
    margin-right: 12px;
}


div.body{
    display: flex;
    align-items: center;
    border-bottom: black 2px solid;
    padding-block-start: 26px;
    width:90%;
    padding-block-end: 26px;
    background-color: #9e9c9cf2;
    border-radius: 2%;
    margin-bottom: 2vw;
}

.primerbody{
    border-top: black solid 2px;
}

.cuartobody{
    border-bottom: 0px;
}

img.secciones{
    border-radius: 50%;
    width: 123%;
    height:6vh;
}

p{
    margin: 0px; 
    padding: 0px; 
    text-align: center;
    margin-top: 10%;
    color:black;
}

.titulogrande p{
    color:white;
}

.caja{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px;
    margin-right: 3%;
    margin-top: 3%;
    border-radius: 5%;
    background-color: grey;
    height: 40vw;
}

div.fotos{
    display: flex;
    flex-wrap: wrap;
}

.todoslosbody{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulogrande{
    margin-bottom: 7%;
    color: white;
}

.titulogrande p{
    font-size: 145%;
    font-family: 'Julius Sans One';
}

.uk-card-default {
    background: none; 
    color: black; 
    box-shadow: none;

}

.uk-icon{
    left: 50%;
    top: 50%;
    height: 4vh;
    width: 2vw;
    border-radius: 50%;
}



/* DESKTOP */
@media only screen and (min-device-width: 1200px){

    body{
        background-image: url(../img/bienvenida.jpg);
    }

div.body{
    justify-items: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    border: 0px;
    background-color: #9e9c9cf2;
    margin: 9px;
    border-radius:2%;
}

.container{
    border-right: solid 8px  rgb(220, 187, 12);
    border-left: solid 8px  rgb(220, 187, 12);
    display: none;
}

div.todoslosbody{
    display: flex;
    flex-wrap: wrap;
    width: 94%;
    margin-top: 3%;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
}

.primerbody{
    border: 0px;
}

h1{
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    margin-top: 0;
    background-color: rgb(220, 187, 12);
    padding: 10px;
    border-radius: 10px;
    margin-right: 0;
}

div.fotos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    
}

img.secciones{
    height: 10vw;
    width: 90%;
}

p{
    font-size: 20px;
}

.caja{
    width: 16%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:18px;
    margin-right:3%;
    height: 16vw;
    background-color: grey !important;
}

.uk-card-default {
    background-color: grey;
}

p{
    font-size: 15px;
    text-align: center;
    padding-top: 18px;
    margin: 0;
}

.titulogrande p{
    background-color: none;
    font-family: 'Julius Sans One';
    font-size:400%;
}

.titulogrande{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom:0;
}
.uk-grid {
    margin-left: 0px; 
}
  
  .search-box {
    -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: #ebebeb;
  }
  .search-box + label .search-icon {
    color: black;
  }
  .search-box:hover {
    color: white;
    background: #c8c8c8;
    box-shadow: 0 0 0 5px #3d4752;
  }
  .search-box:hover + label .search-icon {
    color: white;
  }
  .search-box:focus {
    -webkit-transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
    transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 300px;
    border-radius: auto;
    background: #ebebeb;
    color: black;
  }
  .search-box:focus + label .search-icon {
    color: black;
  }
  .search-box:not(:focus) {
    text-indent: -5000px;
  }
  
  #search-submit {
    position: relative;
    left: -5000px;
  }
  
  .search-icon {
    position: relative;
    left: -30px;
    color: white;
    cursor: pointer;
  }


  .personajes{
      display:none;
  }



  /**********************************
       SECCIÓN BIENVENIDA
***********************************/



.bienvenida {
    height:100vh;
    width: 100%;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    text-align: center;
    position: relative;
    z-index: 1;
}

.bienvenida p {
    font-size: 5rem;
    color: white;
}

.bienvenida span {
    display: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
}

.bienvenida p img{
    width: 6%;
    height: 6%;
}

.bienvenida article {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 3px 0;
}

.bienvenida #titulo{
    display: flex;
    justify-content: space-evenly;

}









}
