/* MOBILE FIRST */
*{box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    font-family: 'Julius Sans One';
}

body{
    display: flex;
    justify-content: center;
    margin:0;
    background-image: url(../img/fondo.jpg);

}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-right: rgb(2555,215,0) solid 3px;
    border-left: rgb(2555,215,0) solid 3px;
}

.main-header{
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    height: 112px;
}

.headerimage{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

.imagen-logo{
    position: absolute;
    width: 17%;
    height: 7%;
    z-index: 3;
    top: 3px;
    left: 28px;
    border-radius: 50%;
}

.lista-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    z-index: 2;
    right: 8px;
    top: 76px;
    justify-content: center;
    margin: 6px;
    width: 274px;
}

ul li{
    list-style: none;
}

.lista-header li a{
    text-transform: uppercase;
    width: 20%;
    padding: 5px;
    text-decoration:none;
    color: white;
    font-size: 90%;
    font-weight: bolder;
}

.frase img{
    z-index: 2;
    width: 74vw;
    height: 4vh;
    position: relative;
    top: -33px;
    left: 71px;
}

div.banner{
    display: none;
}

.buscador{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.imagen-buscador{
    width: 48%;
    height: 8%;
}

.main-footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: grey;
    margin-top: 10%;
}

.lista-footer{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    font-size: 12px;
    position: relative;
    left: -23px;
    font-weight: bold;
}

.iconofooter{
    width: 8vw;
    height: 20%;
    position: relative;
    top: 19px;
    margin-right: 5px;
    left: -16%;
}

.logo-deezer{
    width: 15%;
    height: 15%;
    position: relative;
    right: -5%;
    top: 7px;
}

p{
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.titulos{
    display:flex;}

h1{
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(-180deg);
    margin-left: 0;
    font-family: 'Julius Sans One'
}


div.body{
    display: flex;
    align-items: center;
    border-bottom: black 2px solid;
    padding-block-start: 26px;
    width:90%;
    padding-block-end: 26px;
    background-color: #9e9c9cf2;
}

.primerbody{
    border-top: black solid 2px;
}

.cuartobody{
    border-bottom: 0px;
}

img.secciones{
    border-radius: 50%;
    border: 1px solid black;
    width: 123%;
    height:10vh;
}

p{
    margin: 0px; 
    padding: 0px; 
    text-align: center;
    margin-top: 20%;
}

.caja{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:25%;
    margin-right:8%;
}

div.fotos{
    display: flex;
    flex-wrap: wrap;
}

.todoslosbody{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulogrande{
    margin-bottom: 7%;
    color: white;
}

.titulogrande p{
    font-size: 145%;
    font-family: 'Julius Sans One';
}

.frase p {
    z-index: 2;
    position: absolute;
    right: 3vw;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 243%;
    color: white;
    margin-top: 0px;
}

/* DESKTOP */
@media only screen and (min-device-width: 1200px){

.frase img{
    z-index: 2;
    width: 71%;
    position: relative;
    left: 50%;
}

div.body{
    justify-items: center;
    align-items: center;
    flex-direction: column;
    width:48%;
    border: 0px;
    background-color: #9e9c9cf2;
    margin: 9px;
    border-radius:2%;
}

.imagen-buscador {
    width: 26%;
    height: 10%;
}

.container{
    border-right: solid 8px  rgb(220, 187, 12);
    border-left: solid 8px  rgb(220, 187, 12);
}

.lista-header{
    position: absolute;
    top: 77px;
    font-size: 19px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    right: 31px;
    width: 41%;
}

div.todoslosbody{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 3%;
    flex-direction:row ;
}

.primerbody{
    border: 0px;
}

h1{
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    margin-top: 0;
    background-color: rgb(220, 187, 12);
    padding: 10px;
    border-radius: 10px;
}

div.fotos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    
}

img.secciones{
    height: 8vw;
    width: 113%;
}

p{
    font-size: 20px;
}

.lista-footer{
    font-size: 16px;
    position: relative;
    top: 2px;
    left: -4%;
    display: flex;
    flex-wrap: wrap;
    width: 17%;
    justify-content: center;
}

.lista-footer li a{
    padding:0;
}

.main-footer{
    margin-top: 5%;
}

.logo-deezer{
    width: 6vw;
    height: 11vh;
    position: relative;
    right: -50%;
    top: 10px;
}

.iconofooter{
    width: 4vw;
    height: 5vh;
    position: relative;
    top: 3vh;
    margin-right: 4vw;
    left: 21vw;
}

.caja{
    width: 25%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:18px;
    margin-right:3%;
}

p{
    font-size: 15px;
    width: 96%;
    text-align: center;
    left: 0;
    right: 0;
    padding-top: 18px;
    margin: 0;
}

.titulogrande p{
    background-color: none;
    font-family: 'Julius Sans One';
    font-size:400%;
}

.titulogrande{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom:0;
}

div.banner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.banner{
    width:90%;
    margin:auto;
    overflow:hidden;
}

.banner ul{
    display:flex;
    padding:0;
    width:800%;
    animation: cambio 7s infinite;
}

.banner li{
    width:400%;
    list-style:none;
}

.banner img{
        width: 100%;
        height: 12vw;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left:0;}

    25% {margin-left: 0%;}
    45% {margin-left:0%;}

    50% {margin-left: -100%;}
    70% {margin-left:-100%;}

    75%{margin-left: -100%;}
    100% {margin-left:-100%;}
}

p.pp{
    z-index: 2;
    position: absolute;
    top: -11vh;
    right: 2vw;
    color: white;
    font-size: 400%;
    font-family: 'Cedarville Cursive', cursive;
}

}