/* MOBILE FIRST */
*{box-sizing: border-box;
    width: fit-content; 
    height: fit-content;
    font-family: 'Julius Sans One';}

body{
    display: flex;
    justify-content: center;
    margin:0;
    background-image: url(../img/fondo.jpg);
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border-right: rgb(2555,215,0) solid 3px;
    border-left: rgb(2555,215,0) solid 3px;
}

.main-header{
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    height: 112px;
}

.headerimage{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

.imagen-logo{
    position: absolute;
    width: 17%;
    height: 7%;
    z-index: 3;
    top: 3px;
    left: 28px;
    border-radius: 50%;
}

.lista-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    z-index: 2;
    right: 8px;
    top: 76px;
    justify-content: center;
    margin: 6px;
    width: 274px;
}

ul li{
    list-style: none;
}

.lista-header li a{
    text-transform: uppercase;
    width: 20%;
    padding: 5px;
    text-decoration:none;
    color: white;
    font-size: 90%;
    font-weight: bolder;
}

.frase img{
    z-index: 2;
    width: 74vw;
    height: 4vh;
    position: relative;
    top: -33px;
    left: 71px;
}

.buscador{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.imagen-buscador{
    width: 48%;
    height: 8%;
}

div.banner{
    display: none;
}

.main-footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: grey;
    margin-top: 10%;
}

.lista-footer{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    font-size: 12px;
    position: relative;
    left: -23px;
    font-weight: bold;
}

.iconofooter{
    width: 8vw;
    height: 20%;
    position: relative;
    top: 19px;
    margin-right: 5px;
    left: -16%;
}

.logo-deezer{
    width: 15%;
    height: 15%;
    position: relative;
    right: -5%;
    top: 7px;
}

div.tuplaylist{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

p.nombre{
    border-radius: 34px 34px 34px 34px;
    border: 1px solid white;
    padding: 3%;
    margin-bottom: 10%;
    margin-top: 0px;
    color: white;
}

h1.playlist{
    font-family: 'Julius Sans One';
    margin-bottom: 0px;
    width: 100%;
    margin-bottom: 3%;
    color: white;
}

div.artista{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.artista{
    margin-bottom: 6vw;
    color: white;
}

img.cancion{
    width: 22%;
    height: 18vw;
    border-radius: 50%;
}

div.canciones{  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 0 1vh 2vh 1vh;
    background-color: #9e9c9cf2;
}

div.body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 90%;
}

div.secciones{
    width: 100%;
}

div.info{
    padding-left: 4%;
}

h2.chico{
    font-size: 118%;
}

audio{
    display: flex;
    width: 27vh;
    height: 4vh;
}

.cancion1{
    border-bottom: dashed black 2px;
}

.cancion2{
    border-bottom: dashed black 2px;
}

.cancion3{
    margin-bottom: 10vw;
}

.vermas{
    color: black;
    text-decoration: none;
    background-color: rgb(220, 187, 12);
    padding: 2%;
    font-size: 76%;
}

p.detalles{
    font-size:87%;
    font-weight: bold;
}

p.detalles.cambio{
    font-size: 61%;
}

.frase p {
    z-index: 2;
    position: relative;
    top: -19vh;
    left: 59vw;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 243%;
    color: white;
}


/* DESKTOP */
@media only screen and (min-device-width: 1200px){

.frase img{
    z-index: 2;
    width: 34vw;
    height: 4vh;
    position: relative;
    top: -4vh;
    left: 33vw;
}



p.nombre{
    font-size: 155%;
    width: fit-content;
    margin-bottom: 20%;
}

h1.playlist{
    font-size: 313%;
}

h1.artista{
    margin-bottom: 3vw;
}

div.ccanciones{
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

img.cancion{ 
    width: 25%;
    height: 6vw;
}

p.detalles{
    font-size: 108%;
}

.vermas{
    font-size: 90%;
}

.cancion1{
    border-top:   #9e9c9cf2 solid 3px;
    border-right: dashed black 3px;
    border-bottom: solid #9e9c9cf2 3px;
}

.cancion2{
    border-top: #9e9c9cf2 solid 3px;
    border-right: dashed black 3px;
    border-bottom: solid #9e9c9cf2 3px;
    margin-bottom: 2vh;

}

.cancion3{
    border-top: #bab6b6f2 solid 3px;
    border-bottom: solid #bab6b6f2 3px;
    margin-bottom: 4vw;
}

div.canciones{
    padding-left: 1vw;
}


h2.chico{
    font-size: 137%;
    padding-bottom: 1.3%;
}

.imagen-buscador {
    width: 26%;
    height: 10%;
}

.container{
    border-right: solid 8px  rgb(220, 187, 12);
    border-left: solid 8px  rgb(220, 187, 12);
}

div.info{
    padding-left: 2vw;
}

.frase p{
    position: relative;
    left: 33vw;
    font-size: 20px;
    top: -3vh;
}

.lista-header{
    position: absolute;
    top: 77px;
    font-size: 19px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    right: 31px;
    width:20%;
}

.lista-footer{
    font-size: 114%;
    display: flex;
    flex-wrap: wrap;
    width: 17%;
    justify-content: center;
}

ul li{
    padding-right: 1vw;
}

.main-footer{
    height: 11vh;
    margin-top: 7vh;
}

.logo-deezer{
    width: 6vw;
    height: 9vh;
    position: relative;
    right: -49vw;
}

.iconofooter{
    width: 4vw;
    height: 5vh;
    position: relative;
    top: 3vh;
    margin-right: 4vw;
    left: 21vw;
}

p.detalles.cambio{
    font-size: 72%;
    margin-bottom: 9%;
}

p.detalles.cambio2{
    font-size: 99%;
    margin-bottom: 7%;
}

.margen{ 
    margin-bottom: 9%;
}

audio{
    display: flex;
    width: 26vh;
    height: 6vh;
}

.frase p {
    z-index: 2;
    position: relative;
    top: -24vh;
    left: 76vw;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 410%;
    color: white;
}

<<<<<<< HEAD
=======
div.banner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.banner{
    width:90%;
    margin:auto;
    overflow:hidden;
}

.banner ul{
    display:flex;
    padding:0;
    width:800%;
   
    
    animation: cambio 7s infinite;
    
}

.banner li{
    width:400%;
    list-style:none;
}

.banner img{
        width: 113%;
        height: 12vw;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left:0;}

    25% {margin-left: 0%;}
    45% {margin-left:0%;}

    50% {margin-left: -100%;}
    70% {margin-left:-100%;}

    75%{margin-left: -100%;}
    100% {margin-left:-100%;}
>>>>>>> 9f692314869ab9f71a7e674860cebb6b7c3f326f
}